<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
<div class="card card-header results-block col-sm-9">
  <strong class="space-between">Symbol: </strong><%= @stock.ticker %>
  <strong class="space-between">Name: </strong><%= @stock.name %>
  <strong class="space-between">Price: </strong><%= @stock.last_price %>
</div>
<% end %>
